.l-login {
    float: left;
    margin: 36px 0 72px;
    width: 100%;
}

.span-12 {
    width: 470px;
    float: left;
}

.l-container:after {
    clear: both;
    content: "";
    display: table;
}
.l-container__body {
    margin-top: 30px;
    padding-bottom: 30px;
}
.l-container {
    margin: 0 auto;
    width: 950px;
}

.l-login--login-form {
    padding-top: 24px;
}

.m-form--group:after {
    clear: both;
    content: "";
    display: table;
}
.m-form--group {
    float: left;
    margin-bottom: 20px;
    min-height: 36px;
    width: 100%;
}

.c-login--submit {
    margin-top: -12px;
}
.m-form--actions {
    padding-left: 115px;
}

.m-form--label {
    float: left;
    font-family: "Adelle W01 Bold",Georgia,serif;
    font-style: normal !important;
    font-weight: normal !important;
    padding-top: 6px;
    width: 95px;
}


.m-form input[type="password"], .m-form input[type="text"], .m-form input[type="email"], .m-form input[type="tel"] {
    height: 24px;
    width: 230px;
}
.m-form textarea, .m-form input[type="password"], .m-form input[type="text"], .m-form input[type="email"], .m-form input[type="tel"] {
    background-color: white;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.075) inset;
    color: #465659;
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 5px 6px;
    vertical-align: middle;
}
body, input[type="text"], input[type="password"], textarea {
    font-family: "Adelle W01 Regular",Georgia,serif;
    font-style: normal !important;
    font-weight: normal !important;
}
.m-form input, .m-form textarea, .m-form select {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
body, input[type="text"], input[type="password"], textarea {
    font-family: "Adelle W01 Regular",Georgia,serif;
    font-style: normal !important;
    font-weight: normal !important;
}
.c-login--login, .c-login--password {
    width: 250px;
}

.m-form--label {
    float: left;
    font-family: "Adelle W01 Bold",Georgia,serif;
    font-style: normal !important;
    font-weight: normal !important;
    padding-top: 6px;
    width: 95px;
}

.m-form--controls {
    margin-left: 115px;
}

.m-form input[type="password"], .m-form input[type="text"], .m-form input[type="email"], .m-form input[type="tel"] {
    height: 24px;
    width: 230px;
}


.c-login--forgot-password {
    padding-top: 6px;
}
.m-form--hint {
    color: #777;
    font-size: 14px;
    margin-left: 2px;
}

a {
    color: #0badc5;
    text-decoration: none;
    transition: color 0.2s ease 0s;
}

.c-login--remember-me {
    padding-top: 24px;
}

.m-form input[type="checkbox"] {
    margin-top: -4px;
}
.c-login--remember-me input {
    margin-top: -2px;
}
.m-form input, .m-form textarea, .m-form select {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.last {
    margin-right: 0;
}

.m-form input, .m-form textarea, .m-form select {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
button.m-btn, input.m-btn {
    box-sizing: content-box;
    margin: 0;
}
.m-btn {
    font-size: 14px;
    height: 46px;
    line-height: 50px;
    padding: 0 20px;
}
.m-btn {
    background-color: #0badc5;
    border: 1px solid #214b51;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
}
.m-btn {
    border: medium none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-family: "Proxima N W01 At Xbold",'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-style: normal !important;
    font-weight: normal !important;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}


.m-text h1, .m-text h2, .m-text h3, .m-text h4, .m-text h5, .m-text p, .m-text ol, .m-text ul {
    margin-bottom: 24px;
    font-size: 16px;
}


.m-text ul, .m-text ul li {
    list-style: disc outside none;
}

body, input[type="text"], input[type="password"], textarea {
    font-family: "Adelle W01 Regular",Georgia,serif;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px;
}